/* * {
    font-size: 15px;
    font-family: "CodeNewRoman Nerd Font Propo";
} */

window#waybar {
  all: unset;
}

.modules-left {
  padding: 7px;
  margin: 10 0 5 10;
  border-radius: 10px;
  background: alpha(#4a478a, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-center {
  padding: 7px;
  margin: 10 0 5 0;
  border-radius: 10px;
  background: alpha(#4a478a, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-right {
  padding: 7px;
  margin: 10 10 5 0;
  border-radius: 10px;
  background: alpha(#4a478a, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

tooltip {
  background: alpha(#4a478a, 0.75);
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  transition: all 0.3s ease;
  color: white;
}

#custom-notification {
  padding: 0px 10px;
  transition: all 0.3s ease;
  color: #c2a3fd;
}

#clock {
  padding: 0px 5px;
  color: #cdb5ff;
  transition: all 0.3s ease;
}

#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  all: unset;
  padding: 0px 5px;
  color: alpha(#c2a3fd, 0.4);
  transition: all 0.2s ease;
}

#workspaces button:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}

#workspaces button.active {
  color: #cdb5ff;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}

#workspaces button.empty:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
  transition: all 1s ease;
}

#workspaces button.empty.active {
  color: #cdb5ff;
  border: none;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#pulseaudio {
  color: #cdb5ff;
  padding: 0px 10;
}

#group-expand {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#custom-expand {
  padding: 0px 5px;
  color: alpha(#cdb5ff, 1);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}

#custom-expand:hover {
  color: rgba(205, 181, 255, 0.2);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

#cpu,
#memory,
#temperature {
  padding: 0px 5px;
  transition: all 0.3s ease;
  color: #cdb5ff;
}

#custom-endpoint {
  padding: 0px 5px;
  color: transparent;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}

#tray {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#tray menu * {
  padding: 0px 5px;
  transition: all 0.3s ease;
}

#tray menu separator {
  padding: 0px 5px;
  transition: all 0.3s ease;
}
